#skill-button {
    background-color: Black;
    border: 5px solid Black;
    border-radius: 5px;
    color: #00b55b;

    font-size: 25px;
    font-weight: bold;
}

#skill-text {
    color: black;
    font-size: 25px;
    font-weight: bold;
}
    #skill-button:hover {
        background-color: black;
        border: 5px solid #00b55b;
        box-shadow: 0 1px 42px #00b55b;
        color: white;
    }