#navbar {
    background-color: black;
    color: white;
}

#c {color: rgb(0, 255, 0); font-weight: bold; font-size: 33px; margin-left: 25px;}
#a {color: rgb(255, 255, 0); font-weight: bold; font-size: 33px;}
#s {color: rgb(255, 0, 100); font-weight: bold; font-size: 33px;}
#e {color: rgb(255, 0, 255); font-weight: bold; font-size: 33px;}
#y {color: rgb(0, 155, 255); font-weight: bold; font-size: 33px;}
#mark {color: white; font-weight: bold; font-size: 33px;}
#s2 {color: rgb(0, 255, 255); font-weight: bold; font-size: 33px;}
#port {color: white; font-weight: bold; font-size: 33px; margin-left: 10px; margin-right: 50px;}



#git-text {
    font-size: 15px;
    color: #e42350;
    font-weight: bold;

    margin-bottom: 0;
}
#linked-text {
    font-size: 15px;
    color: #0077b5;
    font-weight: bold;

    margin-bottom: 0;
}
#medium-text {
    font-size: 15px;
    color: #8c25b5;
    font-weight: bold;

    margin-bottom: 0;
}
#dropbox-text {
    font-size: 15px;
    color: #037b99;
    font-weight: bold;

    margin-bottom: 0;
}



#git {
    color: #e42350;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 60px;
    border-radius: 10px;

    margin: 0;
}
    #git:hover {
        box-shadow: 0 1px 42px #e42350;
        background-color: #e42350;
        color: white;
    }


#linked {
    color: #0077b5;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 60px;
    border-radius: 10px;

    margin: 0;
}
    #linked:hover {
        box-shadow: 0 1px 42px #0077b5;
        background-color: #0077b5;
        color: white;
    }

#medium {
    color: #8c25b5;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 60px;
    border-radius: 10px;

    margin: 0;
}
    #medium:hover {
        box-shadow: 0 1px 42px #8c25b5;
        background-color: #8c25b5;
        color: white;
    }




#dropbox {
    color: #037b99;
    background-color: black;
    padding-left: 2.5px;
    padding-right: 2.5px;
    font-size: 60px;
    border-radius: 10px;
    
    margin: 0;
}
    #dropbox:hover {
        box-shadow: 0 1px 42px #037b99;
        background-color: #037b99;
        color: white;
    }