#bio-button {
    background-color: Black;
    border: 5px solid Black;
    border-radius: 5px;
    color: #0077b5;

    font-size: 25px;
    font-weight: bold;

    margin-top: 10px;
}

#bio-text {
    color: black;
    font-size: 25px;
    font-weight: bold;
}
    #bio-button:hover {
        background-color: black;
        border: 5px solid #0077b5;
        box-shadow: 0 1px 42px #0077b5;
        color: white;
    }