#modal-image {
    width: 400px;
    height: 400px;

    margin: 50px;

    text-align: center;
}

#live-emp-button {
    background-color: black;
    border: 2px solid black;
    border-width: 5px 5px 5px 5px;
    color: white;
    box-shadow: 0px 0px 25px 0px black;

    font-size: 25px;
    font-weight: bold;

    padding: 5px;
    margin: 10px;
}

#live-emp-button:hover {
    background-color: white;
    border: 2px solid black;
    border-width: 5px 5px 5px 5px;
    color: black;
    box-shadow: 0px 0px 25px 0px white;
}