#modal-image {
    width: 400px;
    height: 400px;

    margin: 50px;

    text-align: center;
}

.clicky-text {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
}

#live-view-button {
    background-color: black;
    border: solid black;
    color: white;
    box-shadow: 0px 0px 25px 0px black;

    font-size: 25px;
    font-weight: bold;

    padding: 5px;
    margin: 10px;
}

#live-view-button:hover {
    background-color: white;
    border: solid red;
    color: black;
    box-shadow: 0px 0px 25px 0px red;
}
