.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* background-image: url("./components/vader.png"); */
  /* background-image: url('./components/sad-background.jpg'); */
  background-image: url('./components/background-str-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-attachment: fixed;
}