#profile-image {
    border: 3.5px solid white;
    border-radius: 50%;

    width: 277px;
    height: 277px;

    margin-left: 15%;
    margin-top: 5%;
}
#about-me-card {
    background-color: black;
    border: 5px solid black;
    border-radius: 0;

    width: 25rem;
    height: 25rem;
}

    #about-me-card:hover {
        width: 25rem;
        height: 30rem;
        background-color: black;
        border: 5px solid rgb(255, 0, 55);
        box-shadow: 0 1px 42px rgb(255, 0, 55);
    }
        #about-me-text{
            color: black;
            font-size: 1px;
        }
            #about-me-card:hover #about-me-text{
                color: white;
                font-size: 25px;
            }

        #about-me-card:hover #git{font-size: 60px;}
        #about-me-card:hover #linked{font-size: 60px;}
        #about-me-card:hover #medium{font-size: 60px;}
        #about-me-card:hover #dropbox{font-size: 60px;}

            #about-me-card:hover #git-text{
                font-weight: bold;
                font-size: 15px;
                color: #e42350;
            }
            #about-me-card:hover #linked-text{
                font-weight: bold;
                font-size: 15px;
                color: #0077b5;
            }
            #about-me-card:hover #medium-text{
                font-weight: bold;
                font-size: 15px;
                color: #8c25b5;
            }
            #about-me-card:hover #dropbox-text{
                font-weight: bold;
                font-size: 15px;
                color: #037b99;
            }

    #git {
        font-size: 40px;
        margin: 0;
    }
    #linked {
        font-size: 40px;
        margin: 0;
    }
    #medium {
        font-size: 40px;
        margin: 0;
    }
    #dropbox {
        font-size: 40px;
        margin: 0;
    }


    #git-text {
        font-size: 1px;
        color: black;
    }
    #linked-text {
        font-size: 1px;
        color: black;
    }
    #medium-text {
        font-size: 1px;
        color: black;
    }
    #dropbox-text {
        font-size: 1px;
        color: black;
    }



    #git {
        color: #e42350;
        background-color: black;
        padding-left: 2px;
        padding-right: 2px;
        border-radius: 5px;
    }
        #git:hover {
            box-shadow: 0 1px 42px #e42350;
            background-color: #e42350;
            border-radius: 10px;
            color: white;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 2.5px;
            padding-bottom: 2.5px;
        }
    #linked {
        color: #0077b5;
        background-color: black;
        padding-left: 2px;
        padding-right: 2px;
        border-radius: 5px;
    }
        #linked:hover {
            box-shadow: 0 1px 42px #0077b5;
            background-color: #0077b5;
            border-radius: 10px;
            color: white;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 2.5px;
            padding-bottom: 2.5px;
        }
    #medium {
        color: #8c25b5;
        background-color: black;
        padding-left: 2px;
        padding-right: 2px;
        border-radius: 5px;
    }
        #medium:hover {
            box-shadow: 0 1px 42px #8c25b5;
            background-color: #8c25b5;
            border-radius: 10px;
            color: white;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 2.5px;
            padding-bottom: 2.5px;
        }
    #dropbox {
        color: #037b99;
        background-color: black;
        padding-left: 2px;
        padding-right: 2px;
        border-radius: 5px;
    }
        #dropbox:hover {
            box-shadow: 0 1px 42px #037b99;
            background-color: #037b99;
            border-radius: 10px;
            color: white;
            padding-left: 2.5px;
            padding-right: 2.5px;
            padding-top: 2.5px;
            padding-bottom: 2.5px;
        }